<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h2 class="reviews__title title centered"><span class="color-primary">Meinungen</span> über&nbsp;Ship&nbsp;&&nbsp;Deal
      </h2>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Wir haben Lieferservice genutzt. Sie brachten einen Ganzkörperspiegel über 120 km mit und berechneten einen angemessenen
                  Preis. Alles ist in Ordnung.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-12.avif 1x, img/reviews-avatar-12@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-12.webp 1x, img/reviews-avatar-12@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-12.png"
                        srcset="img/reviews-avatar-12.png 1x, img/reviews-avatar-12@2x.png 2x" width="44" height="44"
                        alt="Peter Fischer">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Peter Fischer</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Toll ist, dass ich den Preis selbst bestimmen und den Fahrer auswählen kann. Sie haben meine Sachen zum halben Preis des
                  Lieferdienstes ins Lager gebracht...</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-13.avif 1x, img/reviews-avatar-13@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-13.webp 1x, img/reviews-avatar-13@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-13.png"
                        srcset="img/reviews-avatar-13.png 1x, img/reviews-avatar-13@2x.png 2x" width="44" height="44"
                        alt="Michael Wagner">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Michael Wagner</div>
                    <div class="reviews__date">vor 3 Tagen</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Sehr preiswert. Wir haben verschiedene Transportunternehmen benutzt. Dieser ist einer der besten.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-14.avif 1x, img/reviews-avatar-14@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-14.webp 1x, img/reviews-avatar-14@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-14.png"
                        srcset="img/reviews-avatar-14.png 1x, img/reviews-avatar-14@2x.png 2x" width="44" height="44"
                        alt="Wolfgang Schulz">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Wolfgang Schulz</div>
                    <div class="reviews__date">vor einer Woche</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>Ein Blick auf die Vorteile
                    Die Vertreter der Firma kamen schnell, prüften und machten Fotos. Das Ganze dauerte nicht länger als 15 Minuten. <span class="reviews__hidden">Die
                    Lieferung erfolgte in einer sehr vernünftigen Zeit. Der Fahrer selbst rief den Empfänger an und sie verhandelten und
                    entschieden alles miteinander.
                    Ein Blick auf die Nachteile
                    Wo waren Sie vorher? Warum habe ich zu viel bezahlt, als ich mit anderen Firmen zusammenarbeitete? Wenn Sie so
                    weitermachen, werden Sie die Konkurrenz definitiv überholen.</span></p>
                  </div>
                  <a class="reviews__link" href="#" data-show="Weiterlesen" data-hide="Ausblenden">Weiterlesen</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-7.avif 1x, img/reviews-avatar-7@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-7.webp 1x, img/reviews-avatar-7@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-7.png"
                        srcset="img/reviews-avatar-7.png 1x, img/reviews-avatar-7@2x.png 2x" width="44" height="44"
                        alt="Jurgen Koch">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Jurgen Koch</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Vielen Dank! Die Firma hat meine Begonia von Stuttgart nach Manheim geliefert. Der Fahrer packte sie ein wie ein Baby <span class="reviews__hidden">und schnallte das Paket sogar mit einem Sicherheitsgurt fest. Meine Mutter erhielt die Blume schon an diesem Tag.</span></div>
                  <a class="reviews__link" href="#" data-show="Weiterlesen" data-hide="Ausblenden">Weiterlesen</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-3.avif 1x, img/reviews-avatar-3@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-3.webp 1x, img/reviews-avatar-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-3.png"
                        srcset="img/reviews-avatar-3.png 1x, img/reviews-avatar-3@2x.png 2x" width="44" height="44"
                        alt="Ursula Richter">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Ursula Richter</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Ich habe ein eigenes Geschäft und muss daher oft Waren versenden. Die Beauftragung eines Transportunternehmens ist
                  bequem, aber teuer.
                    <span class="reviews__hidden">Ich arbeite jetzt seit einem Monat mit der Firma ShipandDeal zusammen. Bis jetzt kann ich nur
                    positives Feedback hinterlassen. Der Fahrer war einmal zu spät dran, hat aber einen Rabatt gewährt. Meine besten
                    Empfehlungen!</span>
                  </div>
                  <a class="reviews__link" href="#" data-show="Weiterlesen" data-hide="Ausblenden">Weiterlesen</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-5.avif 1x, img/reviews-avatar-5@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-5.webp 1x, img/reviews-avatar-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-5.png"
                        srcset="img/reviews-avatar-5.png 1x, img/reviews-avatar-5@2x.png 2x" width="44" height="44"
                        alt="Claudia Winkler">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Claudia Winkler</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
