.near {
  margin-bottom: 100px;

  &__inner {
    position: relative;

    &::before {
      @include bg-decor(43px);

      right: 70px;
      top: -28px;
    }

    &::after {
      @include bg-decor(60px);

      left: -103px;
      bottom: -104px;
    }
  }

  &__title {
    margin-bottom: 50px;
  }
}
