.video {
  padding: 140px 0;
  background-color: #f2f6fe;

  &__inner {
    position: relative;
    padding: 0 182px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 51px;
      width: 126px;
      height: 76px;
      background: url("../img/decor-arrow-3.svg") center no-repeat;
    }
  }

  &__title {
    margin-bottom: 44px;
  }

  &__box {
    video {
      display: flex;
      border-radius: 16px;
    }
  }

  &--transparent {
    padding: 0;
    background-color: transparent;
  }
}
