/* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Rubik", sans-serif;
  -webkit-text-size-adjust: 100%;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 15px;
  line-height: 1.36;
  color: rgba(51, 51, 51, 0.8);
  background-color: #fff;
}
.page__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: hidden;
}

img,
video {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1272px;
}
.container--lg {
  max-width: 1432px;
}
.container--sm {
  max-width: 1252px;
}

.centered {
  text-align: center;
}

.disable-scroll {
  overflow: hidden;
}
.disable-scroll body {
  overflow: hidden;
}

.section-offset {
  padding: 150px 0;
}
.section-offset-sm {
  padding: 75px 0;
}

.simplebar-scrollbar::before {
  background-color: #fff;
}

.plyr--video .plyr__controls {
  left: 74px;
  right: 74px;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 22.2275px;
  padding: 25px 40px;
  background: rgba(45, 45, 45, 0.65);
  -webkit-backdrop-filter: blur(6.94609px);
  backdrop-filter: blur(6.94609px);
}
.plyr--video .plyr__progress__buffer {
  border-radius: 16.67px;
  background-color: rgba(255, 255, 255, 0.5);
}
.plyr--video .plyr__progress__container {
  margin-left: 45px;
}
.plyr--video .plyr__controls .plyr__controls__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  color: rgba(45, 45, 45, 0.65);
  background-color: #fff;
}
.plyr--video .plyr__controls .plyr__controls__item:first-child svg {
  width: 14px;
  height: 14px;
}
.plyr--video input[type=range] {
  color: #fff;
}

.slider-pagination {
  display: none;
}

.color-accent {
  color: #265feb;
}

.burger {
  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: 22px;
  height: 22px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentcolor;
  -webkit-transition: top 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: top 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out, top 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, top 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, top 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - 3px);
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: currentcolor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger.is-active {
  z-index: 9;
}
.burger.is-active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger.is-active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger.is-active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

[data-tabs-trigger].is-active {
  background-color: #265feb;
}

[data-tabs-content] {
  display: none;
}
[data-tabs-content].is-active {
  display: block;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 16px 30px;
  min-width: 237px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  background-color: #265feb;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
.btn:focus, .btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #c8070f;
}
@media (any-hover: hover) {
  .btn:hover:hover {
    -webkit-box-shadow: 0 1px 25px rgba(210, 35, 42, 0.8);
    box-shadow: 0 1px 25px rgba(210, 35, 42, 0.8);
  }
}

@media (min-width: 1025px) {
  .menu__footer {
    display: none;
  }
}
@media (max-width: 1024px) {
  .menu {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 7;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    padding: 24px 15px 77px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
  }
  .menu.is-active {
    opacity: 1;
  }
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
  }
  .overlay.is-active {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */