/* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/../fonts/Rubik-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Rubik", sans-serif;
  -webkit-text-size-adjust: 100%;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 15px;
  line-height: 1.36;
  color: rgba(51, 51, 51, 0.8);
  background-color: #fff;
}
.page__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  overflow: hidden;
}

img,
video {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1272px;
}

.centered {
  text-align: center;
}

.disable-scroll {
  overflow: hidden;
}
.disable-scroll body {
  overflow: hidden;
}

.logo picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-offset {
  margin: 140px 0;
}

.title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.2;
  color: #333;
}
.title-lg {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #333;
}
.title-sm {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.4;
  color: #333;
}

.subtitle {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.color-primary {
  color: #265feb;
}

.color-accent {
  color: #f90;
}

.accent-badge {
  border-radius: 10px;
  padding: 2px 12px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
  background-image: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
  background-image: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
  background-color: #f90;
}

.burger {
  position: relative;
  display: none;
  margin-left: 27px;
  border: none;
  padding: 0;
  width: 24px;
  height: 16px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background-color: currentcolor;
  -webkit-transition: top 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: top 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out, top 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, top 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, top 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - 3px);
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background-color: currentcolor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.burger.is-active {
  z-index: 9;
}
.burger.is-active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger.is-active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger.is-active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

[data-tabs-content] {
  display: none;
}
[data-tabs-content].is-active {
  display: block;
}

.nav {
  margin-left: 50px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  font-size: 14px;
  line-height: 17px;
  color: #333;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav__item:not(:last-child) {
  margin-right: 33px;
}
@media (any-hover: hover) {
  .nav__item:hover {
    color: #265feb;
  }
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 100px;
  padding: 20px 47px;
  min-width: 250px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
  background: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
  background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
.btn-outline {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 16px 38px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: #265feb;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.slider-arrow {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 3;
  border: 1px solid #265feb;
  background: url("../img/arrow-left-icon.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-arrow.swiper-button-disabled {
  opacity: 0.5;
}
.slider-arrow--prev {
  left: 0;
}
.slider-arrow--next {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.swiper-pagination {
  position: static;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #265feb;
  opacity: 0.14;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.form__caption {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.form__input {
  display: block;
  border-radius: 8px;
  padding: 24px 30px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: inherit;
}
.form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form__input--price {
  padding: 10px 30px;
  font-weight: 600;
  font-size: 34px;
  color: #ffa928;
  background-color: rgba(29, 27, 27, 0.16);
}
.form__input--price::-webkit-input-placeholder {
  color: #ffa928;
}
.form__input--price::-moz-placeholder {
  color: #ffa928;
}
.form__input--price:-ms-input-placeholder {
  color: #ffa928;
}
.form__input--price::-ms-input-placeholder {
  color: #ffa928;
}
.form__input--price::placeholder {
  color: #ffa928;
}
.form__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 322px 322px 175px 175px;
  grid-template-columns: 322px 322px 175px 175px;
  margin-bottom: 50px;
  gap: 24px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 12px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  margin-right: 30px;
}
.header__btn {
  margin-left: auto;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
  position: relative;
  padding-top: calc(var(--header-height) + 65px);
}
.hero::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 518px;
  min-height: 800px;
  background: url("../img/hero-bg-items.svg") bottom right no-repeat;
  background-color: #265feb;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: max(15px, (100% - 1240px) / 2);
}
.hero__content {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 43px;
  max-width: 572px;
}
.hero__content::before {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 47px;
  height: 47px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  left: -115px;
  top: 0;
}
.hero__content::after {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  left: 70%;
  bottom: 40px;
}
.hero__img {
  margin-left: auto;
  width: 726px;
}
.hero__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__img img {
  width: 100%;
}
.hero__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 1px;
  color: #f90;
}
.hero__tabs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -1px;
  border: 1px solid rgba(255, 153, 0, 0.8);
  padding: 12px 30px;
  height: 48px;
}
.hero__tabs a svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 6px;
}
.hero__tabs a svg path {
  stroke: currentcolor;
}
.hero__tabs a:first-child {
  border-radius: 50px 0 0 50px;
  padding-right: 40px;
  padding-left: 40px;
}
.hero__tabs a:last-child {
  border-radius: 0 50px 50px 0;
}
.hero__tabs a.active {
  position: relative;
  height: 54px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
  background: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
  background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
}
.hero__title {
  position: relative;
}
.hero__title::after {
  content: "";
  position: absolute;
  right: -70px;
  top: -61px;
  width: 125px;
  height: 75px;
  background: url("../img/decor-arrow-1.svg") center no-repeat;
}
.hero__subtitle {
  margin: 37px 0 50px;
  text-transform: uppercase;
}
.hero__caption {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__btn:not(:last-child) {
  margin-right: 20px;
}

.hero-benefits {
  padding: 50px 0;
  background-color: #f2f6fe;
}
.hero-benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero-benefits__item {
  margin: 0 45px;
  max-width: 200px;
  text-align: center;
}
.hero-benefits__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #265feb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 13px;
}

.why__inner {
  position: relative;
}
.why__inner::before {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  left: 78px;
  top: 92px;
}
.why__inner::after {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  right: 30px;
  top: 80px;
}
.why__subtitle {
  margin-bottom: 50px;
}
.why__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 45px 25px;
}
.why__item {
  text-align: center;
}
.why__img {
  margin-bottom: 16px;
}
.why__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.why__img img {
  border-radius: 6px;
  width: 100%;
  height: 183px;
}
.why__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}

.near {
  margin-bottom: 100px;
}
.near__inner {
  position: relative;
}
.near__inner::before {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 43px;
  height: 43px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  right: 79px;
  top: -46px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.near__inner::after {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  left: -103px;
  bottom: -104px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.near__title {
  margin-bottom: 50px;
}

.examples {
  margin-top: 100px;
}
.examples__title {
  margin-bottom: 40px;
}
.examples__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}
.examples__item {
  border-radius: 10px;
  padding: 20px 40px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.examples__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}
.examples__head img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.examples__head span {
  margin-left: 10px;
  text-transform: uppercase;
  color: #265feb;
}
.examples__body table {
  width: 100%;
}
.examples__body td {
  padding: 5px 0;
}
.examples__body td:first-child {
  width: 100%;
}
.examples__city {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333;
}
.examples__value {
  font-style: italic;
  text-align: right;
  text-transform: uppercase;
  color: #333;
}
.examples__value--accent {
  font-weight: 700;
  color: #f90;
}

.benefits {
  padding: 130px 0 140px;
  background-color: #f2f6fe;
}
.benefits__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__inner::before {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  left: -67px;
  top: 84px;
}
.benefits__inner::after {
  content: "";
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("../img/decor-box.svg") center/cover no-repeat;
  right: 34px;
  bottom: 150px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.benefits__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.benefits__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__img img {
  width: 100%;
}
.benefits__content {
  padding-left: 50px;
}
.benefits__title {
  margin-bottom: 39px;
  max-width: 460px;
  color: #000;
}
.benefits__list {
  margin-bottom: 50px;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.benefits__item:not(:last-child) {
  margin-bottom: 18px;
}
.benefits__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #265feb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.benefits__text {
  margin-left: 23px;
}
.benefits__text span {
  font-weight: 600;
}

.reviews__container {
  max-width: 1412px;
}
.reviews__title {
  margin-bottom: 50px;
}
.reviews__slider-wrapper {
  position: relative;
  padding: 0 70px;
}
.reviews__box {
  position: relative;
  margin: 0 1px;
  margin-bottom: 24px;
  border: 1px solid rgba(38, 95, 235, 0.2);
  border-radius: 4px;
  padding: 22px 23px 20px 74px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
.reviews__box::after {
  content: "";
  position: absolute;
  left: 50px;
  bottom: -13.5px;
  width: 38px;
  height: 14px;
  background: url("../img/review-corner.svg") center no-repeat;
  background-color: #fff;
}
.reviews__rating {
  margin-bottom: 10px;
}
.reviews__rating ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__rating li:not(:last-child) {
  margin-right: 4px;
}
.reviews__rating img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__text {
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}
.reviews__text::before {
  content: "";
  position: absolute;
  left: -47px;
  top: 7px;
  width: 28px;
  height: 22px;
  background: url("../img/quotes-icon.svg") center no-repeat;
}
.reviews__link {
  font-size: 12px;
  line-height: 2;
  text-decoration: underline;
  color: rgba(51, 51, 51, 0.6);
}
.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews__avatar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.reviews__avatar img {
  width: 44px;
  height: 44px;
}
.reviews__avatar picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__author-info {
  margin-left: 14px;
}
.reviews__name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000;
}
.reviews__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #676767;
}
.reviews__prev, .reviews__next {
  top: 35%;
}

.action__title {
  margin-bottom: 57px;
}
.action__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.action__box {
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.action__box:first-child {
  position: relative;
}
.action__box:first-child::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 70px;
  width: 106px;
  height: 102px;
  background: url("../img/decor-arrow-2.svg") center no-repeat;
}
.action__box--primary {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #265feb;
}
.action__box--primary .action__box-item:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}
.action__box--primary .action-steps__item::after {
  background-image: url("../img/steps-line-white.svg");
}
.action__box--primary .action-steps__name, .action__box--primary .action-steps__title {
  color: #fff;
}
.action__box-item {
  overflow: hidden;
  padding: 62px 50px 49px;
}
.action__box-item:first-child {
  border-bottom: 1px solid rgba(38, 95, 235, 0.26);
}
.action__box-item:last-child {
  padding-top: 42px;
  padding-right: 0;
  padding-bottom: 72px;
}
.action__badge {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 2px 18px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #333;
  background-color: rgba(38, 95, 235, 0.1);
}
.action__badge--accent {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
  background: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
  background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
}
.action__subtitle {
  margin-top: 0;
  margin-bottom: 34px;
  line-height: 1.3;
}
.action__subtitle--white {
  color: #fff;
}
.action__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 248px) minmax(auto, 217px);
  grid-template-columns: minmax(auto, 248px) minmax(auto, 217px);
  gap: 30px;
}
.action__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.action__list img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 1px;
}
.action__list span {
  margin-left: 16px;
}

.action-steps__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #333;
}
.action-steps__badge {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 7px;
  font-size: 12px;
  text-align: center;
  color: #265feb;
  background-color: rgba(222, 232, 252, 0.8);
}
.action-steps__badge--light {
  background-color: rgba(255, 255, 255, 0.8);
}
.action-steps__badge--lg {
  padding: 0 7px;
  font-size: 14px;
}
.action-steps__list {
  counter-reset: steps;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 132px 132px;
  grid-template-columns: 110px 132px 132px;
  margin-top: 35px;
  gap: 32px 46px;
}
.action-steps__item {
  counter-increment: steps;
  position: relative;
}
.action-steps__item::after {
  content: "";
  position: absolute;
  left: 41px;
  top: 11px;
  width: 100%;
  height: 21px;
  background: url("../img/steps-line.svg") center repeat-x;
}
.action-steps__item:last-child::after {
  display: none;
}
.action-steps__item:nth-child(3)::after {
  width: 205px;
}
.action-steps__item:nth-child(4)::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 11px;
  width: 50px;
  height: 21px;
  background: url("../img/steps-line.svg") center repeat-x;
}
.action-steps__num {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
  border: 1px solid #265feb;
  font-weight: 500;
  font-size: 12px;
  color: #265feb;
  background-color: #fff;
}
.action-steps__num::before {
  content: "0" counter(steps);
}
.action-steps__num--primary {
  color: #fff;
  background-color: #265feb;
}
.action-steps__name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #333;
}
.action-steps__car {
  position: absolute;
  top: -13px;
}
.action-steps__car picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.action-steps__car--1 {
  left: -20px;
}
.action-steps__car--2 {
  left: -30px;
  top: -12px;
}

.how {
  padding: 100px 0 90px;
  color: #fff;
  background-color: #265feb;
}
.how__wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
}
.how__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: max(15px, (100% - 1240px) / 2);
}
.how__content {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 500px;
}
.how__title {
  margin-bottom: 30px;
  color: #fff;
}
.how__item {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  padding: 26px 70px 26px 30px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.how__item:first-child {
  border: transparent;
}
.how__item.is-active {
  border: transparent;
  border-radius: 6px;
  padding-bottom: 35px;
  background-color: rgba(246, 248, 255, 0.1);
}
.how__item.is-active + .how__item {
  border: transparent;
}
.how__item.is-active .how__info {
  display: block;
}
.how__item.is-active .how__head::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.how__head {
  position: relative;
  padding-left: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
.how__head::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
  background: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
  background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
}
.how__head::after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  border: 1px solid #fff;
  background: url("../img/arrow-down-icon.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.how__info {
  display: none;
  margin-top: 17px;
  padding-left: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.how__images {
  position: relative;
  margin-left: auto;
  width: 720px;
}
.how__images picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how__phone {
  position: absolute;
  left: -50px;
  bottom: -137px;
}
.how__img img {
  width: 100%;
}

.delivery {
  background: url("../img/delivery-line.svg") bottom 150px center repeat-x;
}
.delivery__inner {
  margin: 0 auto;
  max-width: 1030px;
}
.delivery__subtitle {
  margin-bottom: 50px;
}
.delivery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.delivery__item {
  text-align: center;
}
.delivery__img {
  position: relative;
  margin-bottom: 24px;
}
.delivery__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.delivery__img img {
  border-radius: 16px;
}
.delivery__caption {
  position: absolute;
  display: inline-block;
  border-radius: 9.3px;
  padding: 20px 16px;
  max-width: 194px;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  background-color: #265feb;
}
.delivery__caption::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 19px;
  height: 12px;
  background: url("../img/triangle-icon.svg") center no-repeat;
}
.delivery__caption span {
  margin-left: 4px;
  border-radius: 4px;
  padding: 1px 5px;
  color: #333;
  background-color: #ffc42c;
}
.delivery__caption--1 {
  left: -52px;
  top: 58px;
}
.delivery__caption--1::before {
  right: 27px;
}
.delivery__caption--2 {
  right: -54px;
  bottom: 80px;
  padding-left: 20px;
  width: 100%;
}
.delivery__caption--2::before {
  left: 27px;
}
.delivery__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: #333;
}
.delivery__text {
  padding: 0 25px;
}

.video {
  padding: 140px 0;
  background-color: #f2f6fe;
}
.video__inner {
  position: relative;
  margin: 0 auto;
  max-width: 876px;
}
.video__inner::after {
  content: "";
  position: absolute;
  right: -183px;
  top: 51px;
  width: 126px;
  height: 76px;
  background: url("../img/decor-arrow-3.svg") center no-repeat;
}
.video__title {
  margin-bottom: 44px;
}
.video__box {
  position: relative;
}
.video__box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(40, 50, 73, 0.5)), to(rgba(40, 50, 73, 0.5)));
  background: -o-linear-gradient(bottom, rgba(40, 50, 73, 0.5), rgba(40, 50, 73, 0.5));
  background: linear-gradient(0deg, rgba(40, 50, 73, 0.5), rgba(40, 50, 73, 0.5));
}
.video__box picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.video__box picture img {
  border-radius: 16px;
}
.video__play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-color: #f90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
  background-image: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
  background-image: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
}

.ship__container {
  max-width: 1412px;
}
.ship__subtitle {
  margin-bottom: 10px;
}
.ship__slider-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 70px;
}
.ship__slider {
  overflow: visible;
  height: 480px;
}
.ship .swiper-slide .ship__item {
  opacity: 0;
}
.ship .swiper-slide.swiper-slide-visible .ship__item {
  opacity: 1;
}
.ship__item {
  padding: 40px 15px;
  -webkit-filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.08));
  filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.08));
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.ship__img {
  position: relative;
}
.ship__img img {
  border-radius: 10px 10px 0 0;
  height: 277px;
}
.ship__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ship__badge {
  position: absolute;
  left: 15px;
  top: 15px;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px 4px 26px;
  font-size: 12px;
  line-height: 1.5;
  color: #292d32;
  background: url("../img/success-icon.svg") left 8px center no-repeat;
  background-color: rgba(38, 95, 235, 0.12);
}
.ship__badge--light {
  background-color: rgba(255, 255, 255, 0.9);
}
.ship__info {
  border-radius: 0 0 10px 10px;
  padding: 22px 25px;
  background-color: #fff;
}
.ship__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2px;
}
.ship__row:first-child {
  margin-bottom: 10px;
}
.ship__name {
  font-weight: 600;
  font-size: 20px;
  color: #000;
}
.ship__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #f90;
}
.ship__primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #265feb;
}
.ship__date {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 18px;
  color: #292d32;
}
.ship__bar {
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 5px;
  border-bottom: 1px dashed rgba(38, 95, 235, 0.14);
  padding: 0 6px;
  width: 100%;
}
.ship__bar::before, .ship__bar::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ship__bar::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  border: 1px solid #265feb;
}
.ship__bar::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #265feb;
  right: 0;
}
.ship__prev, .ship__next {
  background-color: #fff;
}

.calculator {
  padding: 140px 0;
  background: url("../img/calculator-bg.svg") center no-repeat;
  background-color: #265feb;
}
.calculator__inner {
  margin: 0 auto;
  max-width: 1070px;
}
.calculator__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.5;
  color: #fff;
}
.calculator__subtitle {
  margin-top: 16px;
  margin-bottom: 50px;
  color: #fff;
}
.calculator__btn {
  min-width: 280px;
}

.kids {
  padding: 47px 0 130px;
  background-color: #f2f6fe;
}
.kids__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
}
.kids__info {
  margin-right: 45px;
  padding-top: 82px;
  width: 100%;
  max-width: 440px;
}
.kids__subtitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #333;
}
.kids__img {
  width: calc(100% - 440px);
}
.kids__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__inner {
  margin: 0 auto;
  max-width: 900px;
}
.questions__title {
  margin-bottom: 50px;
  color: #000;
}
.questions__item:not(:last-child) {
  margin-bottom: 20px;
}
.questions__item.is-active .questions__head {
  margin-bottom: 30px;
}
.questions__item.is-active .questions__head::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.questions__item.is-active .questions__content {
  display: block;
}
.questions__head {
  position: relative;
  border-radius: 8px;
  padding: 23px 120px 23px 53px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f6fe;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.questions__head::after {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #265feb;
  content: "";
  position: absolute;
  right: 52px;
  top: 50%;
  background: url("../img/arrow-down-white-icon.svg") center no-repeat;
  background-color: #265feb;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.questions__content {
  display: none;
  padding: 0 120px 10px 52px;
}

.earn {
  padding-top: 30px;
  background: url("../img/earn-bg-center.svg") left 31% center no-repeat, url("../img/earn-bg-left.svg") left no-repeat, url("../img/earn-bg-right.svg") right no-repeat;
  background-color: #265feb;
}
.earn__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.earn__content {
  padding-top: 100px;
  max-width: 460px;
  color: #fff;
}
.earn__title {
  margin-bottom: 20px;
  color: #fff;
}
.earn__text {
  margin-bottom: 55px;
  max-width: 250px;
}
.earn__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.earn__btn img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.earn__btn:last-child {
  margin-left: 20px;
}
.earn__img {
  position: relative;
  right: -30px;
}
.earn__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1025px) {
  .menu__footer {
    display: none;
  }
}
@media (max-width: 1280px) {
  .hero::after {
    width: 280px;
  }
}
@media (max-width: 1024px) {
  .btn-outline {
    border-color: #f90;
    padding: 6px 28px;
    font-size: 12px;
    -webkit-text-fill-color: transparent;
    /* stylelint-disable-next-line property-no-unknown */
    text-fill-color: transparent;
    color: #f90;
    background: -webkit-gradient(linear, left top, right top, from(#f90), to(#ffaa2c));
    background: -o-linear-gradient(left, #f90 0%, #ffaa2c 100%);
    background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .nav {
    margin: 0 0 20px;
    width: 100%;
  }
  .nav__list {
    display: block;
  }
  .nav__item {
    font-size: 18px;
    line-height: 21px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav__item a {
    position: relative;
    display: block;
    padding: 12px 12px 12px 50px;
  }
  .nav__item a::before {
    content: "";
    position: absolute;
    left: 28px;
    top: 18px;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    background-color: rgba(51, 51, 51, 0.8);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .nav__item a:hover, .nav__item a:focus, .nav__item a:active {
    color: #265feb;
    background-color: #f2f6fe;
  }
  .nav__item a:hover::before, .nav__item a:focus::before, .nav__item a:active::before {
    background-color: #265feb;
  }
  .menu {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 7;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: auto;
    padding: 20px 0 115px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
  }
  .menu__footer {
    margin-top: auto;
    padding: 30px;
  }
  .menu__address {
    position: relative;
    display: block;
    margin-bottom: 25px;
    padding-left: 35px;
    color: rgba(47, 47, 52, 0.86);
  }
  .menu__address::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background: url("../img/address-icon.svg") center no-repeat;
  }
  .menu__phone {
    position: relative;
    display: block;
    margin-bottom: 16px;
    padding-left: 35px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #2f2f34;
  }
  .menu__phone::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background: url("../img/phone-icon.svg") center no-repeat;
  }
  .menu.is-active {
    opacity: 1;
  }
  .hero::after {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__logo img {
    width: 130px;
  }
}
/*# sourceMappingURL=main.css.map */