.btn {
  display: inline-block;
  border: none;
  border-radius: 100px;
  padding: 20px 47px;
  min-width: 250px;
  font-weight: 500;
  font-size: 14px;
  color: $white-color;
  background: $accent-gradient;
  transition: $transition;
  cursor: pointer;

  &:focus,
  &:active {
  }

  @include hover {
    &:hover {

    }
  }
}

.btn-outline {
  display: inline-block;
  border: 1px solid $white-color;
  border-radius: 100px;
  padding: 16px 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $white-color;
  background: $primary-color;
  transition: $transition;
  cursor: pointer;
}
