.nav {
  margin-left: 50px;

  &__list {
    display: flex;
  }

  &__item {
    @include mr(33px);

    font-size: 14px;
    line-height: 17px;
    color: $black-color;
    transition: $transition;

    @include hover {
      color: $primary-color;
    }
  }
}
