<section class="video section-offset">
  <div class="container">
    <div class="video__inner">
      <h2 class="video__title title centered">Why is <span class="color-primary">it beneficial</span> for you</h2>
      <div class="video__box">
        <iframe width="876" height="497" src="https://www.youtube.com/embed/ABAfrp8kj_0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <!-- <video src="video/video-en.mp4" width="876" height="497" poster="img/video-preview.jpg"></video>
        <button class="video__play-btn btn-reset">
          <img src="img/play-icon.svg" alt="play">
        </button> -->
      </div>
    </div>
  </div>
</section>
