<section class="contacts section-offset" id="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <h1 class="contacts__title title">Наши <br> <span class="color-primary">контакты:</span></h1>
        @include('contacts-info.html')
      </div>
      <div class="contacts__map">
        <iframe src="https://snazzymaps.com/embed/425085" width="636" height="419" style="border:none;"></iframe>
      </div>
    </div>
  </div>
</section>
