<section class="contacts section-offset" id="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <h1 class="contacts__title title">Наши <br> <span class="color-primary">контакты:</span></h1>
        @include('contacts-info.html')
      </div>
      <div class="contacts__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab3429a27bf79349f76ccdd9c9abcfcaf482471917043cd9172ba2802107ed5fd&amp;source=constructor"
          width="636" height="420" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</section>
