<footer class="footer">
  <div class="container">
    <a class="footer__logo logo" href="index-ru.html">
      <picture>
        <source srcset="img/logo-white.avif 1x, img/logo-white@2x.avif 2x" type="image/avif">
        <source srcset="img/logo-white.webp 1x, img/logo-white@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/logo-white.png" srcset="img/logo-white.png 1x, img/logo-white@2x.png 2x"
          width="166" height="37" alt="Ship&Deal логотип">
      </picture>
    </a>
    <div class="footer__inner">
      <div class="footer__col">
        <div class="footer__address">Firma AUTODOGS <br>
          Josefaschacht 5a <br>
          66126 Saarbrücken <br>
        </div>
        <a class="footer__phone" href="tel:+4968983078905">+49 6898 3078905</a>
      </div>
      <div class="footer__col footer__col--list">
        <ul>
          <li><a href="index-ru.html#why">Почему Ship&Deal</a></li>
          <li><a href="index-ru.html#near">Грузы рядом</a></li>
          <li><a href="index-ru.html#reviews">Отзывы</a></li>
        </ul>
        <ul>
          <li><a href="index-ru.html#benefits">Преимущества</a></li>
          <li><a href="index-ru.html#questions">Вопросы</a></li>
          <li><a href="index-ru.html#contacts">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <a class="footer__btn" href="#">@include('../img/googleplay-border-btn.svg')</a>
        <a class="footer__btn" href="#">@include('../img/appstore-border-btn.svg')</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <ul>
        <li><a href="policy-ru.html" target="_blank">Политика конфиденциальности</a></li>
        <li><a href="offer-ru.html" target="_blank">Договор оферты</a></li>
        <li><a href="terms-ru.html" target="_blank">Общие условия</a></li>
      </ul>
    </div>
  </div>
</footer>