<section class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <div class="hero__tabs">
        <a class="active" href="index.html">
          @include('../img/car-icon.svg')
          Для водителя
        </a>
        <a href="index-2.html">
          @include('../img/package-icon.svg')
          Для отправителя
        </a>
      </div>
      <h1 class="hero__title title-lg"><strong class="color-primary">Зарабатывай</strong> на попутных грузах, куда бы ни
        поехал</h1>
      <p class="hero__subtitle subtitle">Всегда. Везде. Когда хочешь.</p>
      <div class="hero__caption">Скачай бесплатное приложение и присоединяйся к нам</div>
      <div class="hero__buttons">
        <a class="hero__btn" href="#"><img src="img/googleplay-border-btn.svg" width="183" height="54"
            alt="Get it on Google Play"></a>
        <a class="hero__btn" href="#"><img src="img/appstore-border-btn.svg" width="163" height="54"
            alt="Download on App Store"></a>
      </div>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="img/hero-1.avif 1x, img/hero-1@2x.avif 2x" type="image/avif">
        <source srcset="img/hero-1.webp 1x, img/hero-1@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/hero-1.png" srcset="img/hero-1.png 1x, img/hero-1@2x.png 2x" width="726"
          height="660" alt="Зарабатывай на попутных грузах, куда бы ни поехал">
      </picture>
    </div>
  </div>
</section>
