<section class="questions section-offset" id="questions">
  <div class="container">
    <div class="questions__inner">
      <h1 class="questions__title title centered">Часто задаваемые <span class="color-primary">вопросы</span></h1>
      <ul class="questions__list">
        <li class="questions__item is-active" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Сколько стоит приложение?</div>
          <div class="questions__content">
            Загрузка приложения бесплатна для всех пользователей. Платы за пользование с отправителя не взымается. Перевозчик платит
            10% от стоимости заказа + НДС после успешной доставки. Например, вы перевезли груз и заработали 100 евро. После успешной
            доставки вы получаете счёт в приложении. Его сумма составит 10 евро + НДС.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Могу ли я не верифицироваться?</div>
          <div class="questions__content">
            Верификация обязательна для всех пользователей.
            Выберите удобный вариант – с помощь банковской карты или PayPal. Для проведения верификации система снимет со счёта до 1
            евро, а вы получите код, который нужно ввести.
            Пользователи с проверенным аккаунтом PayPal могут подтвердить свою личность бесплатно и в несколько кликов.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Кто видит мои данные?</div>
          <div class="questions__content">
          Мы соблюдаем правила конфиденциальности, поэтому пользователям видны такие данные: имя водителя/отправителя, фото и
          оценки.
          Вы обмениваетесь личной информацией (имейл, номер телефона) только с пользователем, с которым заключаете сделку.
          Ship&Deal не передает личные данные третьим лицам. Чтобы получить дополнительную информацию, ознакомьтесь с нашей
          политикой конфиденциальности.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Ship&Deal страхует грузы?</div>
          <div class="questions__content">
            На данный момент мы не страхуем грузы, но в будущем эта функция планируется к внедрению.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
