<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h1 class="reviews__title title centered">Что <span class="color-primary">говорят</span> о&nbsp;Ship&nbsp;&&nbsp;Deal</h1>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                  mollit. Exercitation</div>
                  <a class="reviews__link" href="#">Смотреть фото</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/review-avatar.avif 1x, img/review-avatar@2x.avif 2x" type="image/avif">
                      <source srcset="img/review-avatar.webp 1x, img/review-avatar@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/review-avatar.png" srcset="img/review-avatar.png 1x, img/review-avatar@2x.png 2x" width="44" height="44" alt="Иван Иванов">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Иван Иванов</div>
                    <div class="reviews__date"><time>месяц назад</time></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                  mollit. Exercitation</div>
                  <a class="reviews__link" href="#">Смотреть фото</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/review-avatar.avif 1x, img/review-avatar@2x.avif 2x" type="image/avif">
                      <source srcset="img/review-avatar.webp 1x, img/review-avatar@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/review-avatar.png" srcset="img/review-avatar.png 1x, img/review-avatar@2x.png 2x" width="44" height="44" alt="Иван Иванов">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Иван Иванов</div>
                    <div class="reviews__date"><time>месяц назад</time></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                  mollit. Exercitation</div>
                  <a class="reviews__link" href="#">Смотреть фото</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/review-avatar.avif 1x, img/review-avatar@2x.avif 2x" type="image/avif">
                      <source srcset="img/review-avatar.webp 1x, img/review-avatar@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/review-avatar.png" srcset="img/review-avatar.png 1x, img/review-avatar@2x.png 2x" width="44" height="44" alt="Иван Иванов">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Иван Иванов</div>
                    <div class="reviews__date"><time>месяц назад</time></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                  mollit. Exercitation</div>
                  <a class="reviews__link" href="#">Смотреть фото</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/review-avatar.avif 1x, img/review-avatar@2x.avif 2x" type="image/avif">
                      <source srcset="img/review-avatar.webp 1x, img/review-avatar@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/review-avatar.png" srcset="img/review-avatar.png 1x, img/review-avatar@2x.png 2x" width="44" height="44" alt="Иван Иванов">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Иван Иванов</div>
                    <div class="reviews__date"><time>месяц назад</time></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                  mollit. Exercitation</div>
                  <a class="reviews__link" href="#">Смотреть фото</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/review-avatar.avif 1x, img/review-avatar@2x.avif 2x" type="image/avif">
                      <source srcset="img/review-avatar.webp 1x, img/review-avatar@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/review-avatar.png" srcset="img/review-avatar.png 1x, img/review-avatar@2x.png 2x" width="44" height="44" alt="Иван Иванов">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Иван Иванов</div>
                    <div class="reviews__date"><time>месяц назад</time></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                  mollit. Exercitation</div>
                  <a class="reviews__link" href="#">Смотреть фото</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/review-avatar.avif 1x, img/review-avatar@2x.avif 2x" type="image/avif">
                      <source srcset="img/review-avatar.webp 1x, img/review-avatar@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/review-avatar.png" srcset="img/review-avatar.png 1x, img/review-avatar@2x.png 2x" width="44" height="44" alt="Иван Иванов">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Иван Иванов</div>
                    <div class="reviews__date"><time>месяц назад</time></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
