<section class="ship section-offset">
  <div class="ship__container container">
    <div class="ship__inner">
      <h1 class="ship__title title centered">Перевозки с <span class="color-primary">Ship & Deal</span></h1>
      <p class="ship__subtitle subtitle centered">Вместе с нами можно перевозить груз без упаковки, или с частичной
        упаковкой</p>
      <div class="ship__slider-wrapper">
        <div class="ship__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-1.avif 1x, img/ship-1@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-1.webp 1x, img/ship-1@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-1.jpg" srcset="img/ship-1.jpg 1x, img/ship-1@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Диван раскладной</div>
                    <div class="ship__price">$240</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Göttingen</div>
                    <div class="ship__primary">Wetzlar</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 июля 13:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-2.avif 1x, img/ship-2@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-2.webp 1x, img/ship-2@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-2.jpg" srcset="img/ship-2.jpg 1x, img/ship-2@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Бампер Nissan</div>
                    <div class="ship__price">$187</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Göttingen</div>
                    <div class="ship__primary">Wetzlar</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 июля 13:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-3.avif 1x, img/ship-3@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-3.webp 1x, img/ship-3@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-3.jpg" srcset="img/ship-3.jpg 1x, img/ship-3@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Капот Peugeot</div>
                    <div class="ship__price">$266</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Göttingen</div>
                    <div class="ship__primary">Wetzlar</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 июля 13:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-1.avif 1x, img/ship-1@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-1.webp 1x, img/ship-1@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-1.jpg" srcset="img/ship-1.jpg 1x, img/ship-1@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Диван раскладной</div>
                    <div class="ship__price">$240</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Göttingen</div>
                    <div class="ship__primary">Wetzlar</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 июля 13:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-2.avif 1x, img/ship-2@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-2.webp 1x, img/ship-2@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-2.jpg" srcset="img/ship-2.jpg 1x, img/ship-2@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Бампер Nissan</div>
                    <div class="ship__price">$187</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Göttingen</div>
                    <div class="ship__primary">Wetzlar</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 июля 13:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-3.avif 1x, img/ship-3@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-3.webp 1x, img/ship-3@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-3.jpg" srcset="img/ship-3.jpg 1x, img/ship-3@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Капот Peugeot</div>
                    <div class="ship__price">$266</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Göttingen</div>
                    <div class="ship__primary">Wetzlar</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 июля 13:00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev ship__prev"></div>
        <div class="slider-arrow slider-arrow--next ship__next"></div>
        <div class="swiper-pagination ship__pagination"></div>
      </div>
    </div>
  </div>
</section>
