<section class="why section-offset">
  <div class="container">
    <div class="why__inner">
      <h1 class="why__title title centered">Почему клиенты <br> <span class="color-primary">выбирают Ship&nbsp;&&nbsp;Deal</span></h1>
      <h3 class="why__subtitle subtitle centered">Мы создаем все удобства для&nbsp;наших&nbsp;клиентов</h3>
      <div class="why__content">
        <ul class="why__list">
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-1.avif 1x, img/why-1@2x.avif 2x" type="image/avif">
                <source srcset="img/why-1.webp 1x, img/why-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-1.jpg" srcset="img/why-1.jpg 1x, img/why-1@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Инновационная платформа</div>
            <p>Простое и удобное приложение с&nbsp;грузами по всему миру</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-2.avif 1x, img/why-2@2x.avif 2x" type="image/avif">
                <source srcset="img/why-2.webp 1x, img/why-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-2.jpg" srcset="img/why-2.jpg 1x, img/why-2@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Постоянный заработок</div>
            <p>Обновление заказов каждые 30 сек., до&nbsp;100 новых грузов каждый час</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-3.avif 1x, img/why-3@2x.avif 2x" type="image/avif">
                <source srcset="img/why-3.webp 1x, img/why-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-3.jpg" srcset="img/why-3.jpg 1x, img/why-3@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Доставка door-to-door</div>
            <p>Повышайте лояльность клиентов, доставляя грузы до двери</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-4.avif 1x, img/why-4@2x.avif 2x" type="image/avif">
                <source srcset="img/why-4.webp 1x, img/why-4@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-4.jpg" srcset="img/why-4.jpg 1x, img/why-4@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Прямая коммуникация</div>
            <p>Клиент и перевозчик общаются без посредников в удобном мессенджере</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-5.avif 1x, img/why-5@2x.avif 2x" type="image/avif">
                <source srcset="img/why-5.webp 1x, img/why-5@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-5.jpg" srcset="img/why-5.jpg 1x, img/why-5@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Получаете поддержку 24/7</div>
            <p>Оперативно решаем возникшие вопросы в режиме online</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-6.avif 1x, img/why-6@2x.avif 2x" type="image/avif">
                <source srcset="img/why-6.webp 1x, img/why-6@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-6.jpg" srcset="img/why-6.jpg 1x, img/why-6@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Рейтинговое преимущество</div>
            <p>Заработок больше при достижении пятизвездочного уровня перевозок</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-7.avif 1x, img/why-7@2x.avif 2x" type="image/avif">
                <source srcset="img/why-7.webp 1x, img/why-7@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-7.jpg" srcset="img/why-7.jpg 1x, img/why-7@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Принцип работы All inclusive</div>
            <p>Полный комплекс услуг доставки и сопровождения (отслеживания) грузов</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-8.avif 1x, img/why-8@2x.avif 2x" type="image/avif">
                <source srcset="img/why-8.webp 1x, img/why-8@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-8.jpg" srcset="img/why-8.jpg 1x, img/why-8@2x.jpg 2x" width="288" height="183" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Все виды автотранспорта</div>
            <p>Есть заказы для легковых и грузовых автомобилей, микроавтобусов, фур</p>
          </li>
        </ul>
        <div class="why__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
