// desktop >= 1025px
@include desktop {
  .menu__footer {
    display: none;
  }
}

// small-desktop <= 1280px
@include small-desktop {
  .title-lg {
    font-size: 52px;
  }

  .title {
    font-size: 48px;
  }

  .title-sm {
    font-size: 32px;
  }

  .hero {
    &::after {
      width: 280px;
    }

    &__content::after {
      left: 84%;
      bottom: 0;
    }

    &__inner {
      align-items: center;
    }
  }

  .hero-benefits {
    &__item {
      margin: 0 20px;
    }
  }
}

// tablet <= 1024px
@include tablet {
  .title-lg {
    font-size: 44px;
  }

  .title {
    font-size: 36px;
  }

  .title-sm {
    font-size: 28px;
  }

  .subtitle {
    font-size: 18px;
  }

  .btn-outline {
    border-color: $accent-color;
    padding: 6px 28px;
    font-size: 12px;
    -webkit-text-fill-color: transparent;
    /* stylelint-disable-next-line property-no-unknown */
    text-fill-color: transparent;
    color: $accent-color;
    background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
    background-clip: text;
  }

  .nav {
    margin: 0 0 20px;
    width: 100%;

    &__list {
      display: block;
    }

    &__item {
      @include mr(0);

      font-size: 18px;
      line-height: 21px;

      a {
        position: relative;
        display: block;
        padding: 12px 12px 12px 50px;

        &::before {
          content: "";
          position: absolute;
          left: 28px;
          top: 18px;
          border-radius: 1px;
          width: 8px;
          height: 8px;
          background-color: $dark-color;
          transition: $transition;
        }

        &:hover,
        &:focus,
        &:active {
          color: $primary-color;
          background-color: #f2f6fe;

          &::before {
            background-color: $primary-color;
          }
        }
      }
    }
  }

  .menu {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 7;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 20px 0 115px;
    background-color: $white-color;
    opacity: 0;
    transition: $menu-transition ease;

    &__footer {
      margin-top: auto;
      padding: 30px;
    }

    &.is-active {
      opacity: 1;
    }
  }

  .hero {
    &::after {
      display: none;
    }

    &__content {
      &::before,
      &::after {
        display: none;
      }
    }

    &__title {
      &::after {
        right: -111px;
        top: -19px;
      }
    }
  }

  .hero-benefits {
    padding: 30px 0;

    &__item {
      margin: 20px;
    }

    &__list {
      flex-wrap: wrap;
    }
  }
}

// small-tablet <= 768px
@include small-tablet {
  .section-offset {
    margin: 60px 0;
  }

  .title-lg {
    font-size: 32px;
  }

  .title {
    font-size: 28px;
  }

  .title-sm {
    font-size: 22px;
  }

  .subtitle {
    margin-top: 12px;
    font-size: 16px;
  }

  .header {
    padding: 10px 0;
  }

  .hero {
    padding-top: calc(var(--header-height) + 20px);
    padding-bottom: 50px;

    &__tabs {
      justify-content: center;
      margin-bottom: 15px;

      a {
        padding: 8px 16px;
        height: 35px;
        font-weight: 500;
        font-size: 12px;

        &:first-child {
          padding-right: 22px;
          padding-left: 22px;
        }

        &.active {
          height: 40px;
        }
      }
    }

    &__title {
      text-align: center;

      &::after {
        display: none;
      }
    }

    &__subtitle {
      margin: 17px auto 27px;
      max-width: 280px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
    }

    &__inner {
      flex-direction: column;
      padding: 0 16px;
    }

    &__caption {
      margin-bottom: 12px;
      font-size: 12px;
      text-align: center;
      color: $black-color;

      span {
        display: none;
      }

      b {
        font-weight: 700;
        color: $primary-color;
      }
    }

    &__buttons {
      justify-content: center;
    }

    &__content {
      margin: 0;
      padding-bottom: 0;
    }

    &__img {
      display: none;

      &-mob {
        display: block;
        margin-bottom: -15px;

        picture {
          display: flex;
          justify-content: center;
        }
      }
    }

    &__btn {
      @include mr(15px);

      &:first-child {
        img {
          width: 135px;
        }
      }

      &:last-child {
        img {
          width: 120px;
        }
      }
    }
  }
}

// mobile <= 576px
@include mobile {
  .header {
    &__logo img {
      width: 130px;
    }
  }
}

// small-mobile <= 470px
@include small-mobile {
  .hero-benefits {
    &__list {
      display: block;
    }

    &__item {
      @include mb(14px);
      @include flex-v-center;

      margin-right: auto;
      margin-left: auto;
      max-width: 280px;
      text-align: left;
    }

    p {
      margin-left: 18px;
    }

    &__icon {
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
}

// xs-mobile <= 360px
@include xs-mobile {
  .hero {
    &__title {
      font-size: 30px;
    }

    &__tabs {
      a {
        padding: 8px 13px;

        svg {
          width: 14px;
          height: 14px;
        }

        &:first-child {
          padding-right: 16px;
          padding-left: 16px;
        }
      }
    }
  }
}
