// desktop >= 1025px
@include desktop {
  .menu__footer {
    display: none;
  }
}

// small-desktop <= 1280px
@include small-desktop {
  .title-lg {
    font-size: 52px;
  }

  .title {
    font-size: 48px;
  }

  .title-sm {
    font-size: 32px;
  }

  .hero {
    &::after {
      width: 280px;
    }

    &__inner {
      align-items: center;
    }
  }
}

// tablet <= 1024px
@include tablet {
  .title-lg {
    font-size: 44px;
  }

  .title {
    font-size: 36px;
  }

  .title-sm {
    font-size: 28px;
  }

  .btn-outline {
    border-color: $accent-color;
    padding: 6px 28px;
    font-size: 12px;
    -webkit-text-fill-color: transparent;
    /* stylelint-disable-next-line property-no-unknown */
    text-fill-color: transparent;
    color: $accent-color;
    background: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);
    background-clip: text;
  }

  .nav {
    margin: 0 0 20px;
    width: 100%;

    &__list {
      display: block;
    }

    &__item {
      @include mr(0);

      font-size: 18px;
      line-height: 21px;

      a {
        position: relative;
        display: block;
        padding: 12px 12px 12px 50px;

        &::before {
          content: "";
          position: absolute;
          left: 28px;
          top: 18px;
          border-radius: 1px;
          width: 8px;
          height: 8px;
          background-color: $dark-color;
          transition: $transition;
        }

        &:hover,
        &:focus,
        &:active {
          color: $primary-color;
          background-color: #f2f6fe;

          &::before {
            background-color: $primary-color;
          }
        }
      }
    }
  }

  .menu {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 7;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 20px 0 115px;
    background-color: $white-color;
    opacity: 0;
    transition: $menu-transition ease;

    &__footer {
      margin-top: auto;
      padding: 30px;
    }

    &.is-active {
      opacity: 1;
    }
  }

  .hero {
    &::after {
      display: none;
    }
  }
}

// small-tablet <= 768px
@include small-tablet {
}

// mobile <= 576px
@include mobile {
  .header {
    &__logo img {
      width: 130px;
    }
  }
}

// small-mobile <= 476px
@include small-mobile {
}

// xs-mobile <= 376px
@include small-mobile {
}
