html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: $font-family;
  -webkit-text-size-adjust: 100%;

  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: 15px;
    line-height: 1.36;
    color: $dark-color;
    background-color: $light-color;
  }

  &__content {
    @include footerToBottom;

    overflow: hidden;
  }
}

img,
video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;

  &--lg {
    max-width: $container-width + 160px;
  }

  &--sm {
    max-width: $container-width - 20px;
  }
}

.centered {
  text-align: center;
}

.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.section-offset {
  padding: 150px 0;

  &-sm {
    padding: 75px 0;
  }
}

.simplebar-scrollbar::before {
  background-color: $light-color;
}

.plyr--video {
  .plyr__controls {
    left: 74px;
    right: 74px;
    bottom: 24px;
    display: flex;
    align-items: center;
    border-radius: 22.2275px;
    padding: 25px 40px;
    background: rgba(45, 45, 45, 65%);
    backdrop-filter: blur(6.94609px);
  }

  .plyr__progress__buffer {
    border-radius: 16.67px;
    background-color: rgba($light-color, 0.5);
  }

  .plyr__progress__container {
    margin-left: 45px;
  }

  .plyr__controls .plyr__controls__item:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    color: rgba(45, 45, 45, 65%);
    background-color: $light-color;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  input[type="range"] {
    color: $light-color;
  }
}

.slider-pagination {
  display: none;
}
